<div class="main-recipe">

    <img src="img/croissant.jpg" alt="">

    <div class="main-recipe-text-box">
        <h2>Französische Croissants</h2>
        <p>Schmackhafte Crossaints können auch zu Hause sehr einfach gebacken werden. Mit ca. 30 Minuten Aufwand kannst
            du ein wundervolles Frühsütck zaubern.
        </p>
        <a href="crossaints.html"><button>Rezept öffnen</button></a>
    </div>
</div>

<div class="headline-2">
    <h2>Lust auf etwas neues?</h2>
</div>
<div class="recipes-container">

    <div class="recipes-boxes">
        <div>
            <a href="paella.html">
                <img src="img/paella-g590341a94_1280.jpg" alt="">
                <p>Paella</p>
            </a>
        </div>
        <div>
            <a href="kartoffelsuppe.html">
                <img src="img/potatosoup.jpg" alt="">
                <p>Kartoffelsuppe</p>
            </a>
        </div>
        <div>
            <a href="Spaghetti-carbonara.html">
                <img src="img/Spaghetti carbonara.jpg" alt="">
                <p>Spaghetti Carbonara</p>
            </a>
        </div>
    </div>
</div>