<div class="pan-vs-wok">
    <h2 class="headline-wok">Pfanne oder Wok – was ist eigentlich der Unterschied?</h2>
    <div class="text-image">
    <span class=text-wok>Du wirst sicherlich bemerkt haben, dass ein klassischer Wok eine ganz andere 
        Form hat. Er ist deutlich größer als eine normale Bratpfanne. Durch diese besondere
         Form des Woks hat er in der Mitte den heißesten Punkt, während die äußeren Flächen beim 
         Braten eine deutlich niedrigere Temperatur haben.<br>
         Gerade beim Zubereiten von asiatischen Gerichten hat dies Vorteile, da du beispielsweise 
         in der Mitte das Fleisch schnell braten kannst, während die restlichen Zutaten nach außen 
         geschoben werden. So können sie nicht mehr anbrennen. Trotzdem ist ein Wok kein Muss und du 
         kannst auch mit eine Pfanne beste Ergebnisse erzielen. Es dauert eben nur ein wenig länger 
         als mit dem Wok.
        </span>
        <div>
           <img class="image" src="img/wok.jpg">
        </div>
    <div>
    

    
</div>